*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #6e60bf;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.container > .title{
    color: white;
    font-size: 2.2rem;
    text-align: center;
    margin: 25px 0;
}

.container > .description{
    text-align: center;
    color: white;
    margin: 25px 0;
}

.subtitle{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 25px 0;
}

.row{
    display: flex;
    gap: 25px;
}

.row .card{
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: all 0.4s ease;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card h3{
    padding: 25px 0;
    background-color: white;
    text-align: center;
    font-size: 1rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.filtre-de-culoare .card:nth-child(1):hover{
    filter: grayscale(100%);
    cursor: pointer;
}