*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.cloud-1{
    position: absolute;
    animation: cloud_1 30s ease-in-out infinite alternate;
}
.cloud-2{
    position: absolute;
    transform: rotate(180deg);
    right: 0;
    transform: scale(0.7);
}

@keyframes cloud_1 {
    0%{
        left: 0;
        top: 0;
    }   
    50%{
        left: 110%;
        top: 10%;
    }
    100%{
        left: 0;
        top: 0;
    }   
}

@keyframes cloud_2 {
    
}