*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    background-color: lime;
    padding: 20px;
    width: 70%;
    margin: 50px auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 300px));
    row-gap: 20px;
    column-gap: 40px; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-auto-rows: 150px; */
    /* grid-auto-columns: minmax(200px, auto); */
    /* grid-auto-flow: column dense; */
    gap: 20px;
}
.card{
    height: 250px;
    background-color: green;
    border: 4px solid white;
}
.card-3{
    /* grid-column: 1 / 3;
    grid-row: 2 / 4; */
    /* grid-area: 2 / 1 / 4 / 3;
    height: auto; */
}