*{
    font-family: Calibri, sans-serif;
}
body{
    margin: 0;
}
.container{
    width: 900px;
    margin: 50px auto;
}
.col-2{
    columns: 2;
    column-gap: 50px;
}
img{
    width: 100%;
    display: block;
}
.title{
    font-size: 6rem;
    font-weight: bolder;
    letter-spacing: -7px;
    line-height: 1;
}
.name{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 100;
}
.container p{
    font-size: 1.6rem;
    text-align: justify;
}
.page-footer a{
    display: block;
    float: right;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}
.page-footer .author{
    float: left;
}
.author p, 
.author h5{
    margin: 0;
    line-height: 1.2;
}
.author p{
    margin-bottom: 50px;
    font-weight: 100;
    font-size: 1.2rem;
}
.author h5{
    font-weight: bolder;
}
