*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 900px;
    height: 900px;
    background-color: skyblue;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .card{
    width: 200px;
    height: 200px;
    border: 5px solid white;
    background-color: rgb(87, 193, 235);
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
} */
/* .card:hover{
    background-color: rgb(17, 115, 154);
    border: 5px solid rgb(17, 115, 154);
    transform: translateX(500px);
} */

.card{
    width: 200px;
    height: 200px;
    background-color: rgb(87, 193, 235);
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes pulse {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.2);
        opacity: 0.5;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}