*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 800px;
    height: 800px;
    margin: 40px auto;
    background: #6DF8AC;
    background: radial-gradient(at left bottom, #6DF8AC, #62A355);
}