*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    width: 900px;
    background-color: aqua;
    margin: 50px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.card{
    width: 100%;
    height: 250px;
    background-color: green;
    border: 2px solid white;
}