.list{
    /* list-style-type: none; */
    /* list-style-type: square; */
    /* list-style-type: circle; */
    /* list-style-type: lower-alpha; */
    /* list-style-type: upper-alpha; */
    /* list-style-type: upper-roman; */
    /* list-style-type: circle; */
    list-style-position: inside;
    /* list-style-image: url("../image/img1.png"); */
    list-style-image: url("../image/img1.png");
}
.list li{
    border: 1px dotted rgba(20, 19, 19, 0.685);
    margin: 5px 0;
    border-radius: 10px;
    padding: 0 5px;
}