*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    height: 100dvh;
    width: 100dvw;
    position: relative;
}
.header img{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;
}
.title{
    width: 80dvw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 20px;
    line-height: 1.5;
    color: white;
    text-shadow: 0 0 5px black;
    background: linear-gradient(35deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}