*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 800px;
    height: 80dvh;
    background-color: rgba(165, 42, 42, 1);
    margin: 10dvh auto;
    position: relative
}

.card{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.box{
    width: 200px;
    height: 200px;
    background-color: orange;
    position: absolute;
    z-index: 2;
    /* top: calc(50% - 100px);
    left: calc(50% - 100px); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}