*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: orange;
    height: 150dvh;
}

.nav-main{
    height: 80px;
    background-color: orangered;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 30px;
    position: sticky;
    top: 0;
}

.nav-main a{
    color: white;
    text-decoration: none;
}

.nav{
    height: 40px;
    background-color: white;
}