*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    min-width: 256px;
}
.container{
    box-shadow: 0 0 3px orange;
    padding: clamp(1.5rem, 4vw, 3rem);
    font-size: clamp(1.2rem, 1.6vw, 2rem);
    width: clamp(256px, 60vw, 992px);
}